.input {
  position: relative;
  width: 100%;
  padding-top: 1rem;

  &__input {
    padding: 0.5rem;
    margin-bottom: 1px;

    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-accent);
    background-color: var(--color-gray1);
    transition: position 0.2s;
    font-size: 12px;
    color: var(--color-accent1);

    &::placeholder {
      font-size: 0;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid var(--color-accent);
      margin-bottom: 0;

      & + label {
        top: -0.25rem;
        left: 0;
        font-size: 14px;
      }
    }

    &:not(:placeholder-shown) + label {
      top: -0.25rem;
      left: 0;
      font-size: 14px;
    }
    &:disabled {
      color: var(--color-gray2);
      border-color: var(--color-gray2);
      &:placeholder-shown + label {
        color: var(--color-gray2);
      }
    }
  }
  &__label {
    left: 1rem;
    top: 1.5rem;
    position: absolute;
    transition-property: left, top, font-size;
    transition-duration: 0.2s;
    font-size: 12px;
    color: var(--color-accent1);
  }
}
