<div class='login-page'>
  <article class='login-page__inner'>
    <h1 class='login-page__title'>Sing in</h1>
    <form>
      {{{login}}}
      {{{password}}}
      <div class='actions'>

        {{{button}}}
        {{{link}}}
      </div>
    </form>
  </article>
</div>