.text-field {
  position: relative;
  width: 100%;

  &__input {
    padding: 0.5rem;
    padding-left: 2rem;
    margin: 1px;
    border-radius: 0.5rem;
    width: 100%;
    border: 1px solid var(--color-accent);
    background-color: var(--color-white);
    transition: position 0.2s;
    font-size: 12px;
    color: var(--color-accent1);

    &::placeholder {
      color: var(--color-gray2);
    }

    &:focus {
      outline: none;
      border: 2px solid var(--color-accent);
      margin: 0;
    }

    &:disabled {
      color: var(--color-gray2);
      border-color: var(--color-gray2);
      &:placeholder-shown + label {
        color: var(--color-gray2);
      }
    }
  }
  &__icon {
    position: absolute;
    top: 0.6rem;
    left: 0.75rem;
  }
}
