body {
  color: var(--color-black2);
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-gray1);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

button {
  color: var(--color-black2);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black2);
  font-weight: 500;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
