<main class='error-page'>
  <span class='error-page__code'>{{code}}</span>
  <div class='error-page__inner'>

    <h1 class='error-page__title'>
      Error
      {{code}}
    </h1>
    <p class='error-page__text'>
      {{description}}
    </p>
    <div class='error-page__extra'>
      {{{extra}}}
    </div>
  </div>
</main>